*{
    margin: 0;
}


header{
    display: flex;
    flex-direction: column;
    gap: 20px;   
    width: 100%;
    background-color: azure;
}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 10px;

}

header section{
    display: flex;
    gap: 5px;
    max-width: 1280px;
    

}

button{
    padding: 5px 15px;
    width: 100px;
    background-color: gray;
    border-radius: 5px;
    border: 1px solid #575655;
}

main{
    display: flex;
    margin-top: 20px;

}


aside{
    display: flex;
    width: 25%;
    flex-direction: column;
    gap: 5px;
}

main section{
    width: 75%;
}

