<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Base</title>
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <nav class="">
            <h2>Knowledge Base</h2>
            <div>
                {% if user.is_authenticated %}
                <p> {{user.username}} </p>
                <a href="{% url 'logout' %}"><button>Logout</button></a>
                {% else %}
                <a href="{% url 'register' %}"><button>Register</button></a>
                <a href="{% url 'login' %}"><button>Login</button></a>
                {% endif %}
            </div>
            <div>
                <form method="get" action="">
                    <label for="id_search">Search</label>
                    <input id="id_search" type="text" name="search" placeholder="Search...">
                </form>
            </div>
        </nav>

        <section>
            {% for category in categories %}
            <a href="{% url 'category' category.slug %}"> <button>{{category.title}} </button></a>
            {% endfor %}
        </section>
    </header>

    <main>
        <aside>
            {% block aside %}
            {% endblock %}
        </aside>

        <section>
            {% block main %}
            {% endblock %}
        </section>
    </main>
</body>

</html>