{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Course</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block aside %}
    {% for chapter in chapters %}
        <button class="chapter"> {{chapter.title}} </button>
        {% for lesson in lessons %}
                    {% if lesson.chapter == chapter %}
                    <a href="{% url 'lesson' chapter.course.category.slug chapter.course.slug chapter.order lesson.order %}"><button> {{lesson.title}} </button></a>
                    {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}


{% block main %}
<style>
    *{
        margin: 0px;
    }

    section .chapter{
        margin-bottom: 5px;
    }

    main section{
        /* width: 70%; */
        display: flex;
        flex-direction: column;
    }
</style>
    {% for chapter in chapters %}
    <div style="
        display: flex; 
        justify-content: space-between; 
        width: 50%; 
        border-bottom: 3px solid #2c3e50;
        ">
        <h3 class="chapter"> {{chapter.title}} </h3>
        {% if user.groups.all.0.name == 'Admin' %}
        <div>
            <a href="{% url 'delete_chapter' chapter.id %}"><button style="background-color: rgb(224, 30, 30);"></button></a>
            <a href="{% url 'update_chapter' chapter.id %}"><button style="background-color: rgb(30, 156, 224);"></button></a>
        </div>
        {% endif %}
    </div>
    
        <ul>
            {% for lesson in lessons %}
                {% if lesson.chapter == chapter %}
                <a href="{% url 'lesson' chapter.course.category.slug chapter.course.slug chapter.order lesson.order %}"><li> {{lesson.title}} </li></a>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}

    <br><br><br><br>
    {% if user.groups.all.0.name == 'Admin' %}
<div>
    <a href="{% url 'delete_course' data.id %}">
        <button style="
        border: none;
        background-color: rgb(224, 30, 30);
        color: white;
        border-radius: 10px;">
            Delete Course
        </button>
    </a>
    <a href="{% url 'update_course' data.id %}">
        <button style="
        border: none;
        background-color: rgb(30, 156, 224);
        color: white;
        border-radius: 10px;">
            Update Course
        </button>
    </a>
</div>
{% endif %}

{% endblock %}