{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Course</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block aside %}
    {% for chapter in chapters %}
        <a href=""><button class="chapter"> {{chapter.title}} </button></a>
        {% for lesson in lessons %}
                    {% if lesson.chapter == chapter %}
                    <a href=""><button> {{lesson.title}} </button></a>
                    {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}


{% block main %}
    {{data.page}}
{% endblock %}