{% extends "base.html" %}
{% load static %}
{% block head %}
<title>create</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock head %}


{% block aside %}
{% endblock aside %}


{% block main %}
<h1>{{title}} </h1>

{% if action == 'add' or action == 'Update' %}
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">
        {{action}}
    </button>
</form>

{% elif action == 'delete' %}
<h3>do you want to delete it?</h3>
<div style="display: flex; gap: 50px;">
    <a href="{% url 'home' %}"><button>Home</button></a>
    <form method="post" style="border: none; padding: 0px;">
        {% csrf_token %}
        <button type="submit" style="background-color: rgb(224, 30, 30);">
            {{action}}
        </button>
    </form>
</div>
{% endif %}
{% endblock %}