{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Lesson</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block aside %}
{% for chapter in chapters %}
<button class="chapter"> {{chapter.title}} </button>
{% for lesson in lessons %}
{% if lesson.chapter == chapter %}
<a href="{% url 'lesson' chapter.course.category.slug chapter.course.slug chapter.order lesson.order %}"><button>
        {{lesson.title}} </button></a>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}


{% block main %}
<h1>{{page.lesson.title}} </h1>


{% for block in blocks %}
<!-- <p>{{block.order}}</p> -->
{% if block.type == 'p' %} <p>{{block.comment}}</p>{% endif %}
{% if block.type == 'span' %} <span>{{block.comment}}</span>{% endif %}
{% if block.type == 'h1' %} <h1>{{block.comment}}</h1>{% endif %}
{% if block.type == 'h2' %} <h2>{{block.comment}}</h2>{% endif %}
{% if block.type == 'h3' %} <h3>{{block.comment}}</h3>{% endif %}
{% if block.type == 'h4' %} <h4>{{block.comment}}</h4>{% endif %}
{% if block.type == 'h5' %} <h5>{{block.comment}}</h5>{% endif %}
{% if block.type == 'h6' %} <h6>{{block.comment}}</h6>{% endif %}
{% if block.type == 'strong' %} <strong>{{block.comment}}</strong>{% endif %}
{% if block.type == 'br' %} <br>{% endif %}
{% if block.type == 'img' %} <img src="{{block.media.url}}" style="width: 80%;" alt="">{% endif %}
{% if group == 'Admin' %}
<div>
    <a href="{% url 'delete_block' block.id %}"><button type="submit"
            style="background-color: rgb(205, 2, 2)">Delete</button></a>
    <a href="{% url 'update_block' block.id %}"><button type="submit">Update</button></a>
</div>
<br><br>
{% endif %}
{% endfor %}


{% if title == 'Add Block' or title == 'Update Block' %}
<br><br>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Save</button>
</form>
{% elif title == "Delete Block" %}
<h3>Do you want to delete this block?</h3>
<p>{{block.page}}</p>
<div style="display: flex; gap: 20px;">
    <a href="{% url 'lesson' category course chapter lesson %}">
        <button>Back</button>
    </a>
    <form method="post" style="border: none; padding: 0px;"> {% csrf_token %}
        <button style="background-color: rgb(224, 30, 30);" type="submit">Delete</button>
    </form>
</div>
{% else %}

<br><br>
{% if group == 'Admin' %}
<a
    href="{% url 'create_block' page.lesson.chapter.course.category.slug page.lesson.chapter.course.slug page.lesson.chapter.order page.lesson.order %}">
    <button>Add Block</button>
</a>
<a href="{% url 'delete_lesson' page.lesson.id %}"><button style="background-color: rgb(224, 30, 30);">Delete lesson</button></a>
<a href="{% url 'update_lesson' page.lesson.id %}"><button style="background-color: rgb(30, 156, 224);">Update lesson</button></a>
{% endif %}
{% endif %} 




{% endblock %}