{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Lesson</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}


{% block aside %}
{% for chapter in chapters %}
{% for lesson in lessons %}
{% if lesson.chapter == chapter %}
<a href=""><button> {{lesson.title}} </button></a>
{% endif %}
{% endfor %}
{% endfor %}
{% endblock %}


{% block main %}
    <h1>{{page.lesson.title}} </h1>

    {% for block in blocks %}
        
        {% if block.type == 'p' %} <p>{{block.comment}}</p>{% endif %}
        {% if block.type == 'span' %} <span>{{block.comment}}</span>{% endif %}
        {% if block.type == 'h1' %} <h1>{{block.comment}}</h1>{% endif %}
        {% if block.type == 'h2' %} <h2>{{block.comment}}</h2>{% endif %}
        {% if block.type == 'h3' %} <h3>{{block.comment}}</h3>{% endif %}
        {% if block.type == 'h4' %} <h4>{{block.comment}}</h4>{% endif %}
        {% if block.type == 'h5' %} <h5>{{block.comment}}</h5>{% endif %}
        {% if block.type == 'h6' %} <h6>{{block.comment}}</h6>{% endif %}
        {% if block.type == 'strong' %} <strong>{{block.comment}}</strong>{% endif %}
        {% if block.type == 'img' %} <img src="{{block.media.url}}" alt="">{% endif %}
        {% if block.type == 'br' %} <br>{% endif %}


    {% endfor %}
{% endblock %}